<!DOCTYPE html>
<html>
{% extends "poolServices/base.html" %}
{% load static %}
<body>
{% block content %}

<br>
<br>
<br>
<br>
<br>

<div class="container-fluid text-center" style="background-color: #f1f1f1;">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
     
    </div>
 
    <div class="col-sm-8 text-center"> 
       <br> 
        <div class="row content">

        <div class="col-sm-6 text-center"> 
                        <h2>Rocky Powell</h2>
              <h2>(281) 620-1524</h2>
            </div>
        <div class="col-sm-6 text-center"> 
                        <h2>Gus Powell</h2>
              <h2>(832) 499-2139</h2>
            </div>

  
 

        </div>
			             <h1>Contact Us</h1>
              <p>Have any questions? Ready to push you pool problems away? Leave some information for us and we'll reach out to discuss how we can help!</p>

			<form method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Submit</button>
			</form>

        <br>
  
    </div>
    <div class="col-sm-2 sidenav">

  
    </div>
  </div>
</div>




{% endblock %}
</body>

</html>